/*Basic Reset*/
* {
  margin: 0;
  padding: 0;
}

/*Universal*/

body {
  background-color: #26A65B;
  text-align: center;
  margin: 0;
  font-size: 2em;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
    letter-spacing: .5em;

}

.icon {
  font-family: "memory-icon";
  padding: 0;
}

ul {
  list-style-type:none;
  letter-spacing: .5em;

}

/*Header*/

.header {
  padding-top: 2em;
}

.game-statistics {
  display: inline;
  padding: .5em;
  width: 100%
}

.game-healthbar {
display: inline;
margin-left: 0;
padding-right: 30%;
}

.game-timer {
  display: inline;
  margin-left: 0;
}

/*Game Board*/

.game-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  perspective: 1000;
}

.game-box {
  width: 16%;
  display: inline-block;
  padding-top: 16%;
  position: relative;
  margin: 0;
}

.game-box-2 {
  background-color: #C8F7C5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  border-radius: 0.2em;
}

.game-box-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}


/*Actions*/

input {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.game-box [type=checkbox]:not(:checked) + .game-box-2 .icon {
  opacity: 0;
  display: none;
  color: black;
  font-size: 300%;
}


.game-box [type=checkbox]:checked + .game-box-2 .icon {
  opacity: 1;
  display: visible;
  color: black;
  font-size: 300%;
}

@-webkit-keyframes flip {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
  }
}

.game-box [type=checkbox]:checked + .game-box-2 {
    -webkit-animation-name: flip;
    -webkit-animation-duration: .4s;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes unflip {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, 5deg);
  }

  100% {
    transform: perspective(400px);
  }
}
.game-box [type=checkbox]:not(:checked) + .game-box-2 {
    -webkit-animation-name: unflip;
    -webkit-animation-duration: .4s;
    -webkit-animation-timing-function: linear;
}
